body{
    margin: 0;
    padding: 0;
    
}

html {
    scroll-behavior: smooth;
}


:root {
    font-size: 16px;
    font-family: 'Cooper Hewitt', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}

.uno {
    width: 100%;
    height: 135vh;
    background: #0a0a0a;
}

.uno img{
    margin-bottom: 10vh;
    margin-top: 25vh;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 11;
    object-fit: cover;
    object-position: bottom;
}

.uno-medio{
    width: 100%;
    height: 40vw;
    background: rgb(10,10,10);
    background: linear-gradient(180deg, rgba(10,10,10,1) 0%, rgba(112,150,147,1) 50%);
}

.dos {
    width: 100%;
    height: 100vh;
    background: #0a0a0a;
}  

.img-dos {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 11;
    object-fit:cover;

}

.tres {
    width: 100%;
    height: 100vh;
    background: #0a0a0a;
}

.img-tres {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 11;
    object-fit:cover;
}
.cuatro {
    width: 100%;
    height: 100vh;
    background: #f9a125;
}

.cuatro img {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 11;
    object-fit:cover;
}

footer {
    width: 100%;
    height: 8vh;
    background: #0a0a0a;
    display: flex;
    position:absolute;
    z-index: 10;
    margin-top: 100vh;
}

footer p{
    color: #FEF8D7;
    font-family: 'Inconsolata', monospace;
    margin: auto;
}


.segundo{
    position: absolute;
    z-index: 10;
    width: 100%;
}

nav {
    width: 100%;
    height: 6vh;
    position: absolute;
    z-index: 100;
    display: flex;
    margin: 0;
    align-items: flex-start;
}

.line-lists{
    width: 100vw;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
}


.line-img{
    width: 20px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    transition-duration: 1s;
}

.line-img:hover{
    width: 6vh;
}

.cm-list{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    position: fixed;
}

.cm-img{
    margin-top: 0;
    width: 25px;
    margin-left: 1.5vw;

}

ul{
    list-style: none;
    padding: 0;
}

.home{
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;

}

.name{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 20;
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 28vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2.3vw;
    font-size: 5vw;
    color: #FEF8D7;
    transition: opacity .3s;
}

.developer{
    width: 100%;
    height: 100vh;
    position: absolute; 
    z-index: 20;
    display: flex;
    justify-content: center;
}

.h2-home{
    margin-top: 45vh;
    font-family: 'Inconsolata', monospace;
    font-size: 3vw;
    color: #FEF8D7;
    transition: opacity .3s;
}
 
.about-me{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 20;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.skills-div {
    position: absolute;
    z-index: 10;
    background: #709693;
    width: 100%;
    height: 38vh;
    display: flex;
    justify-content: center;
}

.habilidades{
    color: #FEF8D7;
    font-family: 'Inconsolata', monospace;
    font-size: 5.5vw;
    letter-spacing: 1.7vw;
    margin-top: 0;
    transition: opacity .6s;
}

.skills{
    height: 20vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20vh;
    flex-wrap: wrap;
}
.skills div img {
    width: 70px;
}

.am-text{
    color: #FEF8D7;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    align-self: center;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

.div-projects{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 20;
}

.examples{
    width: 40%;
    margin-left: 50%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
}

.template-img{
    width: 25vw;
    margin-top: 2vh; 
    filter: brightness(0.7);
    transition: .7s;
}

.template-img:hover{
    width: 27vw;
    filter: brightness(1)
}

.ejemplos{
    color:#FEF8D7;
    font-family: 'Poppins', sans-serif;
    font-size: 5.5vw;
    letter-spacing: 1.7vw;
    margin-top: 10vh;
    margin-left: 5vw;
    position: absolute;
}

.template-link{
    width: 100%;
    height: 100%;
}


.example-text{
    color:#FEF8D7;
    font-family: 'Inconsolata', monospace;
    font-size: 1.6vw;
    margin: 0;
}

.examples-text{
    color:#FEF8D7;
    font-family: 'Inconsolata', monospace;
    font-size: 1.6vw;
    margin-top: 13vh;
}
.example{
    font-size: 20px;
    text-align: center;
}

.contact-me{
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactame{
    color: #0a0a0a;
    font-family: 'Poppins', sans-serif;
    font-size: 5.5vw;
    letter-spacing: 1.7vw;
    margin-top: 35vh;
    margin-left: 10vw;
    margin-bottom: 0;
}
.cm-text{
    width: 40vw;
    color: #0a0a0a;
    font-family: 'Inconsolata', monospace;
    margin-left: 13vw;
    font-size: 20px;
    margin-top: 0;
    font-weight: bold;
    text-align: justify;
}

.mail-button{
    width: 150px;
    height: 5vw;
    background: rgba(0, 0, 0, 0.63);
    margin-left: 23vw;
    display: flex;
    border-radius: 10px;
}

.mail-link{
    text-decoration: none;
}

.mail-button p{
    color: #FEF8D7;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

.animation {
    animation-name: aparecer;
    animation-duration: 1.3s;
    opacity: 1;
}

@keyframes aparecer{
    from{
        opacity: 0;
        margin-top: 5vh;
    }
    to{
        opacity: 1;
        margin-top: 0;
    }
}

@media screen and (max-width: 700px) {
    .line-lists{
        justify-content: flex-end;
    }
    .h2-home{
        font-size: 4vw;
    }
    h1{
        font-size: 5vh;
        text-align: center;
    }
    .cm-img, .line-img{
        width: 30pxvw;
    }

    .habilidades{
        font-size: 6.6vh;
        margin-top: 0;
    }

    .skills{
        margin-top:10vh;
    }

    .uno img{
        height: 70vh;
        object-position: left;
    }

    .about-me{
        justify-content: flex-start;
    }
    .ejemplos{
        font-size: 6.6vh;
    }

    .template-img{
        width: 200px;
    }
    .examples-text{
        margin-top: 30vh;
    }
    .contactame{
        font-size: 37px;
    }
    .cm-text{
        width: 80%;
    }
    .line-img:hover{
    width: 20px;
    }
}
